.title {
    text-align: center;
    font-size: 50px;
}

 .subtitle {
    text-align: center;
    font-size: 25px;
}

header {
    font-family: 'Chilanka', cursive;
}

body {
    background-color: rgb(31, 16, 5)
}


Img {
    width: 100%;
    max-height: 25rem;
    margin: 20px;

}

.card-container {
    border: 1px solid seagreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    /* padding: 2rem; */
} 

/* Navbar components */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(96, 170, 188);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-family: 'Courgette', cursive;   
    font-size: 30px; 
  }
  
  li a:hover {
    background-color: #c99789;
  }
  
  .active {
    background-color: #c99789;
  }
