
header .title {
    text-align: center;
    font-size: 50px;
}

header .subtitle {
    text-align: center;
    font-size: 25px;
}

header {
    font-family: 'Chilanka', cursive;
}

body {
    background-color: rgb(253,231,214)
}

/* #app {
    
} */

